<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tela 2</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #00003c;">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="padding: 32px 52px 32px;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;banco-safra.svg&quot;);"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="background: url(&quot;assets/img/banco-safra%20Branco%20small.svg&quot;) no-repeat;background-size: contain;">
                <form class="d-flex me-auto navbar-form" target="_self">
                    <div class="d-flex align-items-center"></div>
                </form><span class="navbar-text"> <a class="login" href="#" style="background: url(&quot;Acessibilidade.png&quot;);"></a></span><a class="btn btn-light action-button" role="button" href="#" style="background: #d4ad68;width: 110px;font-weight: bold;">Chat</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: left;">
                <h1 style="color: rgb(255,255,255);padding-right: 120px;padding-left: 120px;text-align: center;padding-top: 90px;"><br>Para concretizarmos a análise, autorize a utilização do Open Banking<br><br></h1>
                <div class="form-check" style="text-align: center;"><input class="form-check-input" type="checkbox" id="formCheck-1" style="text-align: center;margin-left: 550px;"><label class="form-check-label" for="formCheck-1" style="font-size: 20px;color: rgb(255,255,255);text-align: center;margin-left: -530px;text-decoration:  underline;">Aceito os termos</label></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="color: rgb(255,255,255);padding-top: 40px;">Deseja prosseguir?</h1>
            </div>
        </div>
    </div><!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: center;"><a class="btn btn-primary" role="button" style="background: #d4ad68;width: 110px;color: rgb(0,0,0);font-weight: bold;margin-bottom: 40px;" href="../Tela_3/tela3.html">Sim</a></div>
            <div class="col-md-6" style="text-align: center;"><a class="btn btn-primary" role="button" style="background: #d4ad68;width: 110px;color: rgb(0,0,0);font-weight: bold;margin-bottom: 40px;" href="../Tela_1/index.html">Não</a></div>
            
        </div>
    </div><!-- End: 1 Row 2 Columns -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>