{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tela 5</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/csspg5/styles.css' %}">
</head>

<body style="background: #00003c;">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="padding: 32px 52px 32px;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;static/img/banco-safra.svg&quot;);"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="background: url(&quot;static/img/banco-safra%20Branco%20small.svg&quot;) no-repeat;background-size: contain;">
                <form class="d-flex me-auto navbar-form" target="_self">
                    <div class="d-flex align-items-center"></div>
                </form><span class="navbar-text"> <a class="login" href="#" style="background: url(&quot;static/img/Acessibilidade.png&quot;);"></a></span><a class="btn btn-light action-button" role="button" href="https://www.safra.com.br/atendimento/atendimento-ao-cliente.htm" style="background: #d4ad68;width: 110px;font-weight: bold;">Chat</a>
            </div>
        </div>
    </nav><!-- Start: 1 Row 2 Columns -->
    <div class="container text-center" style="width: 1280px;height: 660px;margin-top: 80px;border-radius: 0px;border-width: 0px; background: #ffffff">
        
        <h1 style="text-align: center; color: rgb(0,0,0);"><br>Seu crédito disponível é de R$<br></h1>
        <input type="name" name="creditodisponivel" id="creditodisponivel" placeholder="{{creditosdiponivel}}" readonly>
       
        
        <h1 style="text-align: center;color: rgb(0,0,0);"><br>Crédito recomendado R$<br></h1>
        <input type="name" name="creditorecomendado" id="creditorecomendado" placeholder="{{creditorecomendado}}" readonly>
        
        
        <h1 style="text-align: center;color: rgb(0,0,0);"><br>Crédito pré aprovado R$<br></h1>
        <input type="name" name="creditopreaprov" id="creditopreaprov" placeholder="{{creditopreaprov}}" readonly>
        
        
        <h1 style="color: rgb(0,0,0);text-align: center; background: #ffffff; height: 118px"><br>Crédito limite R$<br></h1>
        <input type="name" name="creditolimite" id="creditolimite" placeholder="{{creditolimite}}" readonly>
        <br>
        <a class="btn btn-light action-button" role="button" style="background: #00003c;width: 110px; margin-top: 20px; font-weight: bold;text-align: center;color: rgb(255,255,255);" href="../Tela_6/tela6.html">Contratar</a></div>
        
    </div><!-- End: 1 Row 2 Columns -->
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>