<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Safra Technee 2022</title>
    <meta name="description" content="Time 16">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <!-- Start: Header Blue -->
    <header class="header-blue" style="background: repeating-linear-gradient(-71deg, black, #62bada 0%, #c9e7f2 100%), #62bada;">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="padding: 32px 52px 32px;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/banco-safra.svg&quot;);"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="background: url(&quot;assets/img/banco-safra.svg&quot;) no-repeat;">
                    <form class="d-flex me-auto navbar-form" target="_self">
                        <div class="d-flex align-items-center"></div>
                    </form><span class="navbar-text"> <a class="login" href="#" style="background: url(&quot;assets/img/Acessibilidade.png&quot;);"></a></span><a class="btn btn-light action-button" role="button" href="https://www.safra.com.br/atendimento/atendimento-ao-cliente.htm" style="background: #00003c;width: 110px;font-weight: bold;">Suporte</a>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <!-- Start: Text -->
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-weight: bold;color: rgb(0,0,0);">Alugue um imóvel utilizando o Safra como garantia</h1>
                    <p style="text-align: left;color: #000000cc;font-weight: bold;">Não se prenda ao fiador, escolha a comodidade<br>Conheça as vantagens que o Safra pode oferecer <br><br></p><a class="btn btn-light btn-lg action-button" role="button" href="#simulation" style="background: #00003c;font-weight: bold;" data-bs-target="#newsletter-subscribe">Simule agora</a>
                </div><!-- End: Text -->
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder" style="background: url(&quot;assets/img/60667-small-house-vector.svg&quot;) center / auto no-repeat;">
                    <!-- Start: iPhone -->
                    <div class="phone-mockup">
                        <div class="screen"></div>
                    </div><!-- End: iPhone -->
                </div>
            </div>
        </div>
    </header><!-- End: Header Blue -->
    <!-- Start: Header Blue -->
    <header class="header-blue" style="background: #ffffff;padding: 0px;">
        <div class="container hero">
            <div class="row" style="margin: 0px;">
                <!-- Start: Text -->
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-weight: bold;color: rgb(0,0,0);">Como funciona</h1>
                    <p style="text-align: left;color: #000000cc;font-weight: bold;">O banco Safra será o seu fiador no aluguel de um imóvel. Temos parceria com o QuintoAndar. Faça uma simulação conosco e descubra quanto podemos fornecer em crédito.<br><br><br></p>
                </div><!-- End: Text -->
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder" style="background: url(&quot;assets/img/Value%20Props.svg&quot;) center / auto no-repeat;">
                    <!-- Start: iPhone -->
                    <div class="phone-mockup">
                        <div class="screen"></div>
                    </div><!-- End: iPhone -->
                </div>
            </div>
        </div>
    </header><!-- End: Header Blue -->
    <!-- Start: Header Blue -->
    <header id="simulation" class="header-blue" style="background: #c4c4c4;padding: 0px;padding-top: 20px;padding-bottom: 0px;">
        <div class="container">
            <div class="row" style="padding-top: 70px;font-weight: bold;padding-bottom: 40px;">
                <div class="col" style="padding-top: 10px;">
                    <h1 class="text-center" style="font-weight: bold;color: rgb(0,0,0);">Veja as possibilidades</h1>
                    <h1 class="text-center" style="color: rgb(0,0,0);font-size: 25px;padding-top: 20px;">Faça a simulação com a sua renda atual</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col" style="text-align: right;padding-right: 0px;"><input type="number" style="width: 500PX;text-align: center;height: 40PX;border-radius: 5PX;padding-top: 0PX;border-width: 0px;" placeholder="Renda atual"></div>
                        <div class="col" style="padding-left: 12px;"><input type="number" style="width: 500px;height: 40px;text-align: center;border-width: 0px;padding-top: 0px;padding-left: 12px;border-radius: 5px;" placeholder="Valor do aluguel desejado"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;padding-top: 40PX;"><a class="btn btn-primary" role="button" style="text-align: center;background: #00003c;font-weight: bold;" href="../Tela_3/tela3.html">Simulação completa</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 style="font-weight: bold;font-size: 20PX;text-align: center;padding-top: 40PX;padding-bottom: 40PX;">Valor máximo de seguro fiança R$</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Start: Footer Dark -->
        <footer class="text-start footer-dark" style="background: #00003c;margin: 0px;padding-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col text-center d-xxl-flex justify-content-xxl-center"><img class="d-xxl-flex justify-content-center align-content-center justify-content-xxl-center align-items-xxl-center" src="static/assets/img/Logo%20Safra%20Branco.svg"></div>
                </div>
            </div>
            <div class="col text-center d-xxl-flex justify-content-xxl-center" style="padding: 46px;text-align: center;">
                <h1 class="text-center">Technee Safra 2022</h1>
            </div>
        </footer><!-- End: Footer Dark -->
    </header><!-- End: Header Blue -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>